<mat-toolbar class="w-full h-20 flex items-center justify-between !py-1 px-0">
  <div class="h-full w-48">
    <img
      src="/assets/logo.png"
      alt="Glam Market Logo"
      class="w-full h-full object-contain"
    />
  </div>
  <div class="hidden md:flex items-center gap-5">
    <a *ngFor="let link of navLinks" [routerLink]="link | lowercase">{{
      link
    }}</a>
  </div>
  <div class="hidden md:block">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    class="border border-red-500 md:!hidden"
    (click)="onToggleSidenav()"
    aria-label="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
